div{
  text-align: center;
}

body{
  background-image: url("https://github.com/TAGsite/tagsite.github.io/raw/main/content/gifs/tagif1.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}