div{
	text-align: center;
}

body{
	background-position: center top;
	image-rendering: pixelated;
}

header{
	padding-top: 20px;
	font-size: 72px;
	font-family: sans-serif;
}

footer{
	padding: 10px;
}